* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #eaeaea;
  overflow: hidden;
}

.target {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.target.moving {
  animation: moving 1s infinite alternate;
}

@keyframes moving {
  0% {
    transform: translate(-200px, -50%);
  }
  100% {
    transform: translate(200px, -50%);
  }
}

[class^="cir"] {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  background-color: white;
  cursor: pointer;
}

[class^="cir"]:nth-child(2n + 1) {
  background-color: #fe5b45;
}

[class^="cir"]:active {
  transition: 0s;
  filter: brightness(80%);
}

[class^="cir"]:before {
  content: attr(data-label);
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
  font-size: 24px;
  font-weight: bold;
}

.cir1 {
  width: 100px;
  height: 100px;
  z-index: 5;
}

.cir2 {
  width: 200px;
  height: 200px;
  z-index: 4;
}

.cir3 {
  width: 300px;
  height: 300px;
  z-index: 3;
}

.cir4 {
  width: 400px;
  height: 400px;
  z-index: 2;
}

.cir5 {
  width: 500px;
  height: 500px;
  z-index: 1;
  border: 10px solid white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.infos {
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 10;
}

.infos h1,
.infos h3 {
  margin: 0;
}

.infos h1 {
  font-size: 50px;
}

.infos h3 {
  opacity: 0.4;
}

.mouseSymbol {
  position: absolute;
  pointer-events: none;
  z-index: 100;
}

.mouseSymbol:before,
.mouseSymbol:after {
  content: "";
  display: block;
  width: 40px;
  height: 8px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
}

.mouseSymbol:before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.mouseSymbol:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.spot {
  position: absolute;
  width: 15px;
  height: 15px;
  pointer-events: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.mouseText {
  position: fixed;
  top: 20px;
  right: 20px;
  margin: 0;
  font-family: monospace;
  opacity: 0.5;
}
